@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  background: radial-gradient(
        circle at center bottom,
        #FFEB7D 0%,
        #FFB44B 100%
   );
  color: #333;
  font-family: 'Lucida Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100;
  display: flex;
  flex-direction: column;
}

.display-4 {
  font-family: "Satisfy", cursive;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
  font-size: 07rem;
}

.lead {
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 40px;
  color: #7d3e15;
}

.lead-1,
.lead-2 {
  font-family: cursive;
  font-style: italic;
}

.row {
  font-family: 'Lucida Sans';
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fact-box {
  margin-top: 30px;
  position: relative;
}

.fun-fact {
  font-family: 'Lucida Sans';
  font-style: italic;
  text-align: center;
  text-decoration: wavy;
  margin-bottom: 0.5rem;
  color: rgb(37, 22, 12);
  font-size: 18px;
}

.middle-box {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 40px 450px 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 180px;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-color: #f7ebce;
}

.food-icon {
  width: 24px;
  height: 24px;
  margin-right: 300px;
  margin-top: 5px;
  filter: hue-rotate(180deg);
}

.icon-chef {
  width: 9.5rem;
  height: 9.5rem;
  margin-right: 20px;
}
.search-bar {
  margin: 10px auto 30px; 
  width: 100%;
  max-width: 600px;
  padding: 5px;
  background-color: #f3e3bd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.container {
  transition: opacity 0.5s ease;
  position: relative;
  z-index: 1;
}

.search-bar .form-control {
  width: 100%;
  padding: 10px;
  border: 2px solid #f5d487;
  border-radius: 20px;
  background-color: #f3e3bd;
  color: #333;
  font-size: 16px;
}

.fun-facts-container {
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 7em;
  background-color: #ffdfb2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height:290px;
}

.did-you-know {
  font-size: 1.5em;
  margin-bottom: 0.2em;
  font-style: italic;
  font-family: cursive;
}
