/* src/App.css */

.App {
  text-align: center;
  padding: 20px;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
}

button {
  margin-left: 10px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.response {
  margin-top: 20px;
  text-align: left;
}
